@{
    ViewBag.Title = "accountviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <link href="~/Content/assets/css/black-uploader.css" rel="stylesheet" />
}

<style>
    .edit-btn {
        color: white !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-account">Dashboard</h5>
                        <h2 class="card-title">Accounts</h2>
                        <div>
                            

                        </div>
                    
                    </div>

                </div>
                <div class="card-body">
                    <div id="div_search" class="row">
                        <div class="col-sm-2 col-md-3 right">
                        </div>
                        <div class="col-sm-4 col-md-5 right">
                            <input name="txt_search_val" id="txt_search_val" class="form-control" type="text" placeholder="Nhập tài khoản cần tìm" />
                        </div>
                        @*<div class="col-sm-4 col-md-3">
                            <select id="slc_search_type" class="form-control">
                                <option value="">Chọn tiêu chí tìm kiếm</option>
                                <option value="AccountName">Account's Name</option>
                            </select>
                        </div>*@
                        <div class="col-sm-2 col-md-1 right"><button id="btn_search_action" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                    </div>
                    <table class="table table-bordered table-border-grey">
                        <thead>
                            <tr class="bg-primary ">
                                <th style="width: 200px ">Account's name</th>
                                <th style="width: 50px">Edit</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_data">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">

                <div class="row" id="account-filter">
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $.ajax(
            {
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url: window.location.origin + '/QLSV/get_All',
                url: window.location.origin + '/Admin/get_All_acc',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var rs = JSON.parse(response);

                    if (rs.ErrCode == 1) {
                        //trường hợp lấy dssv thành công
                        //console.log(rs.Data);
                        var str = "";
                        for (var i = 0; i < rs.Data.length; i++) {
                            str += "<tr> <td> " + rs.Data[i].UserName + "</td> <td><a href='./editaccounts?a-id=" + rs.Data[i].UserName + "' class=' btn  btn-outline-warning border-0'> <p class = 'edit-btn''>Edit</p> </a>  </td> </tr>";
                        }
                        $("#tbl_data").html(str);
                    }
                    else {
                        alert(rs.ErrDesc);
                    }
                },
                error: function (response) {
                    alert("Lấy DSSV thất bại");
                }
            }
        );

        $("#btn_search_action").click(function () {
            //alert($("#txt_search_val").val());
            //var search_type = $("#slc_search_type").val();
            //if (!search_type) {
            //    alert("Vui lòng chọn tiêu chí tìm kiếm");
            //    return false;
            //}

            var formData = new FormData();
            formData.append("search_val", $("#txt_search_val").val());
            //formData.append("search_type", search_type);

            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/Admin/Search_acc',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);

                        if (rs.ErrCode == 1) {
                            //trường hợp lấy dssv thành công
                            //console.log(rs.Data);
                            var str = "";
                            for (var i = 0; i < rs.Data.length; i++) {
                                str += "<tr> <td> " + rs.Data[i].UserName + "</td> <td><a href='./editaccounts?a-id=" + rs.Data[i].UserName + "' class=' btn  btn-outline-warning border-0'> <p class = 'edit-btn''>Edit</p> </a>  </td> </tr>";
                            }
                            $("#tbl_data").html(str);
                        }
                        else {
                            alert(rs.ErrDesc);
                        }
                    },
                    error: function (response) {
                        alert("Xóa sinh viên thất bại");
                    }
                }
            );
        })
    })

</script>


