@{
    ViewBag.Title = "categoryviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <link href="~/Content/assets/css/black-uploader.css" rel="stylesheet" />
}
<style>
    .btn-edit,.btn-del {
        color: white !important;
    }

</style>
<section class="content">
    <div class="container-fluid">
        <div id="div_test"> </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách Category</h3>
                        <div>
                            
                        </div>
                        <div id="div_search" class="row">
                            <div class="col-sm-2 col-md-3 right">
                            </div>
                            <div class="col-sm-4 col-md-5 right">
                                <input name="txt_search_val" id="txt_search_val" class="form-control" type="text" placeholder="Nhập giá trị tìm kiếm" />
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <select id="slc_search_type" class="form-control">
                                    <option value="">Chọn tiêu chí tìm kiếm</option>
                                    <option value="ID">ID</option>
                                    <option value="NameCate">NameCate</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-1 right"><button id="btn_search_action" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-border-grey">
                                <thead>
                                    <tr class="bg-primary ">
                                        <th>ID</th>
                                        <th>NameCate</th>
                                        <th style="width: 300px">Option</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_data">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        @*<div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </div>*@
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
</section>

@*<script>
        $(document).ready(function () {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/Admin/get_All_cate',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);
                        if (rs.ErrCode == 1) {
                            console.log(rs.Data)
                            const category = rs.Data
                            let displaycategory = category.map(function (item) {
                                return `<div class="mix col-lg-3 col-md-6 best">
                     <div class="category-item">



                         <div class="category-info">
                             <h6>${item.NameCategory}</h6>
                             <div>
                                 <a href="./removecategory?c-id=${item.ID}" class="site-btn btn-line">REMOVE</a>
                                 <a href="./editcategories?c-id=${item.ID}" class="site-btn btn-line">EDIT</a>
                             </div>
                         </div>
                     </div>
                 </div>`;
                            });
                            displaycategory = displaycategory.join("");
                            displaycategory += `<div class="mix col-lg-3 col-md-6 best">
                            <div>
                                <a class="add-category-btn" href="addcategory">
                                    <i class="tim-icons icon-simple-add"></i>
                                </a>
                            </div>
                        </div>`
                            console.log(displaycategory);
                            document.getElementById("category-filter").innerHTML = displaycategory;
                        }
                        else {
                            alert(rs.ErrDesc);
                        }
                    },
                    error: function (response) {
                        alert("Lấy DSSP thất bại");
                    }
                }
            );
        })
    </script>*@
<!-- Cai nay neu can thiet thi cho vao dong 103 -->
<!-- <figure>
    <img src="${item.URL}" alt="">
    <div class="pi-meta">
        <div class="pi-m-left">
            <img src="/Content/assets/img/icons/eye.png" alt="">
            <p>quick view</p>
        </div>
        <div class="pi-m-right">
            <img src="/Content/assets/img/icons/heart.png" alt="">
            <p>save</p>
        </div>
    </div>
</figure> -->

<script>
    function Delete_obj(id) {
        if (confirm("Bạn có thực sự muốn xóa danh mụ này không?")) {
            //xử lý xóa
            /*alert("Đồng ý xóa");*/

            //trường hợp không rỗng
            var formData = new FormData();
            formData.append("cateId", id);

            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/Admin/Del_Cate',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);
                        alert(rs.ErrDesc);
                        //refresh lại trang web để thấy thay đổi;
                        window.location.href = "/admin/categoryviews";
                    },
                    error: function (response) {
                        alert("Xóa danh mục thất bại");
                    }
                }
            );
        }
    };

    $(document).ready(function () {
        $.ajax(
            {
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url: window.location.origin + '/QLSV/get_All',
                url: window.location.origin + '/Admin/get_All_cate',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var rs = JSON.parse(response);

                    if (rs.ErrCode == 1) {
                        //trường hợp lấy dssv thành công
                        //console.log(rs.Data);
                        var str = "";
                        for (var i = 0; i < rs.Data.length; i++) {
                            str += "<tr> <td> " + rs.Data[i].ID + " </td> <td> " + rs.Data[i].NameCategory + "</td> <td><a href='/admin/editcategories?c-id=" + rs.Data[i].ID + "' class=' btn  btn-outline-warning border-0'> <p class = 'btn-edit'>Edit</p> </a> <button type='button' onclick='Delete_obj(" + rs.Data[i].ID + ")' class='btn btn-outline-danger border-0'> <p class = 'btn-del'>Delete</p> </button> </td> </tr>";
                        }
                        $("#tbl_data").html(str);
                    }
                    else {
                        alert(rs.ErrDesc);
                    }
                },
                error: function (response) {
                    alert("Lấy DSCate thất bại");
                }
            }
        );

        $("#btn_search_action").click(function () {
            //alert($("#txt_search_val").val());
            var search_type = $("#slc_search_type").val();
            //if (!search_type) {
            //    alert("Vui lòng chọn tiêu chí tìm kiếm");
            //    return false;
            //}

            var formData = new FormData();
            formData.append("search_val", $("#txt_search_val").val());
            formData.append("search_type", search_type);

            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/admin/Search_Cate',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);

                        if (rs.ErrCode == 1) {
                            //trường hợp lấy dssv thành công
                            //console.log(rs.Data);
                            var str = "";
                            for (var i = 0; i < rs.Data.length; i++) {
                                str += "<tr> <td> " + rs.Data[i].ID + " </td> <td> " + rs.Data[i].NameCategory + "</td> <td><a href='/admin/editcategories?c-id=" + rs.Data[i].ID + "' class=' btn  btn-outline-warning border-0'> <p class = 'btn-edit'>Edit</p> </a> <button type='button' onclick='Delete_obj(" + rs.Data[i].ID + ")' class='btn btn-outline-danger border-0'> <p class = 'btn-del'>Delete</p> </button> </td> </tr>";
                            }
                            $("#tbl_data").html(str);
                        }
                        else {
                            alert(rs.ErrDesc);
                        }
                    },
                    error: function (response) {
                        alert("Xóa sinh viên thất bại");
                    }
                }
            );
        })
    })

</script>