@{
    ViewBag.Title = "editcategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <link href="~/Content/assets/css/uploader.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Dashboard</h5>
                        <h2 class="card-title">Editing category</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="catergory-form" class="row">
                    <div class="col-6">
                        <div class="text-input">
                            <label for="c-name" class="text-label">Catergory's name:</label>
                            <input type="text" class="text-field" placeholder="Denim pant..." name="c-name" id='c-name'
                                   required />
                        </div>

                        <input class="submit-btn" type="submit" value="Edit catergory's information">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/assets/js/uploader.js"></script>



<script>

    $(document).ready(function () {
        var url = new URL(window.location.href);
        var catergoryID = url.searchParams.get("c-id");

        //trường hợp không rỗng
        var formData = new FormData();
        formData.append("catergoryID", catergoryID);
        $.ajax(
            {
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/Admin/get_Cate_Info',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var data = JSON.parse(response);
                    console.log(data);
                    $("#c-name").val(data.NameCategory);

                },
                error: function (response) {
                    alert("Xử lý lấy thông tin sinh viên cần sửa thất bại");
                }
            }
        );
    })
</script>

<script>
    $(".submit-btn").click(function (e) {
        e.preventDefault();
        var url = new URL(window.location.href);
        var catergoryID = url.searchParams.get("c-id");

        var form = $('#catergory-form')[0];
        var formData = new FormData(form);
        formData.append("c-id", catergoryID);
        $.ajax(
            {
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/Admin/Edit_cate',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    alert(response);
                    window.location = "categoryviews";
                },
                error: function (response) {
                    alert("Xử lý cập nhật thông tin sp thất bại");
                }
            }
        );
    })
</script>