
@{
    ViewBag.Title = "productviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Dashboard</h5>
                        <h2 class="card-title">Products</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row" id="product-filter">
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/1.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Long red Shirt</h6>
                                <p>$39.90</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 new">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/2.jpg" alt="">
                                <div class="bache">NEW</div>
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Hype grey shirt</h6>
                                <p>$19.50</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/3.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>long sleeve jacket</h6>
                                <p>$59.90</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 new best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/4.jpg" alt="">
                                <div class="bache sale">SALE</div>
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Denim men shirt</h6>
                                <p>$32.20 <span>RRP 64.40</span></p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/5.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Long red Shirt</h6>
                                <p>$39.90</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 new">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/6.jpg" alt="">
                                <div class="bache">NEW</div>
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Hype grey shirt</h6>
                                <p>$19.50</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/7.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>long sleeve jacket</h6>
                                <p>$59.90</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/8.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Denim men shirt</h6>
                                <p>$32.20 <span>RRP 64.40</span></p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div class="product-item">
                            <figure>
                                <img src="~/Content/assets/img/products/1.jpg" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/Content/assets/img/icons/eye.png" alt="">
                                        <p>quick view</p>
                                    </div>
                                    <div class="pi-m-right">
                                        <img src="~/Content/assets/img/icons/heart.png" alt="">
                                        <p>save</p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>Long red Shirt</h6>
                                <p>$39.90</p>
                                <div>
                                    <button href="#" class="site-btn btn-line">REMOVE</button>
                                    <button href="#" class="site-btn btn-line">EDIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-6 best">
                        <div>
                            <a class="add-product-btn" href="./addproducts.html">
                                <i class="tim-icons icon-simple-add"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

