@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Users/Views/Shared/Layout.cshtml";
}

<!-- Page Info -->
<div class="page-info-section page-info">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="~/home/index">Home</a> /
            <span>Contact</span>
        </div>
        <img src="~/Content/img/page-info-art.png" alt="" class="page-info-art">
    </div>
</div>
<!-- Page Info end -->
<!-- Page -->

<div class="page-area contact-page">
    <div class="container spad">
        <div class="text-center">
            <h4 class="contact-title">Get in Touch</h4>
        </div>
        <form class="contact-form">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="First Name *">
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Last Name *">
                </div>
                <div class="col-md-12">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <div class="text-center">
                        <button class="site-btn">Send Message</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Page end -->
