
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Users/Views/Shared/Layout.cshtml";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/Content/img/bg.jpg">


    <div class="hero-slider owl-carousel">
        <div class="hs-item">
            <div class="hs-left"><img src="~/Content/img/slider-img.png" alt=""></div>
            <div class="hs-right">
                <div class="hs-content">
                    <div class="price">from $19.90</div>
                    <h2><span>2023</span> <br>summer collection</h2>
                    <a href="~/product/categorie" class="site-btn">Shop NOW!</a>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="hs-left"><img src="~/Content/img/slider-img.png" alt=""></div>
            <div class="hs-right">
                <div class="hs-content">
                    <div class="price">from $19.90</div>
                    <h2><span>2022</span> <br>summer collection</h2>
                    <a href="~/product/categorie" class="site-btn">Shop NOW!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Intro section -->
<section class="intro-section spad pb-0">
    <div class="section-title">
        <h2>pemium products</h2>
        <p>We recommend</p>
    </div>
    <div class="intro-slider">
        <ul class="slidee">
            <li>
                <div class="intro-item">
                    <figure>
                        <img src="~/Content/img/intro/1.jpg" alt="#">
                    </figure>
                    <div class="product-info">
                        <a href="~/product/product2">Pink Sunglasses</a>
                        <p>$319.50</p>
                        <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="intro-item">
                    <figure>
                        <img src="~/Content/img/intro/2.jpg" alt="#">
                    </figure>
                    <div class="product-info">
                        <a href="~/product/product2">Black Nighty</a>
                        <p>$319.50</p>
                        <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="intro-item">
                    <figure>
                        <img src="~/Content/img/intro/3.jpg" alt="#">
                        <div class="bache">NEW</div>
                    </figure>
                    <div class="product-info">
                        <a href="~/product/product2">Yellow Sholder bag</a>
                        <p>$319.50</p>
                        <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="intro-item">
                    <figure>
                        <img src="~/Content/img/intro/4.jpg" alt="#">
                    </figure>
                    <div class="product-info">
                        <a href="~/product/product2">Yellow Sunglasses</a>
                        <p>$319.50</p>
                        <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="intro-item">
                    <figure>
                        <img src="~/Content/img/intro/5.jpg" alt="#">
                    </figure>
                    <div class="product-info">
                        <a href="~/product/product2">Black Sholder bag</a>
                        <p>$319.50</p>
                        <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<!-- Featured section -->
<div class="featured-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="featured-item">
                    <img src="~/Content/img/featured/featured-1.jpg" alt="">
                    <a href="~/product/categorie" class="site-btn">see more</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="featured-item mb-0">
                    <img src="~/Content/img/featured/featured-2.jpg" alt="">
                    <a href="~/product/categorie" class="site-btn">see more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured section end -->
<!-- Product section -->
<section class="product-section spad">
    <div class="container">
        <ul class="product-filter controls">
            <li class="control" data-filter=".new">New arrivals</li>
            <li class="control" data-filter="all">Recommended</li>
            <li class="control" data-filter=".best">Best sellers</li>
        </ul>
        <div class="row" id="product-filter">
        </div>
    </div>
</section>
<!-- Product section end -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="featured-item">
                    <img src="~/Content/img/featured/featured-3.jpg" alt="">
                    <a href="#" class="site-btn">see more</a>
                </div>
            </div>
            <div class="col-lg-7">
                <h4 class="bgs-title">from the blog</h4>
                <div class="blog-item">
                    <div class="bi-thumb">
                        <img src="~/Content/img/blog-thumb/1.jpg" alt="">
                    </div>
                    <div class="bi-content">
                        <h5>10 tips to dress like a queen</h5>
                        <div class="bi-meta">July 02, 2018   |   By maria deloreen</div>
                        <a href="#" class="readmore">Read More</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-thumb">
                        <img src="~/Content/img/blog-thumb/2.jpg" alt="">
                    </div>
                    <div class="bi-content">
                        <h5>Fashion Outlet products</h5>
                        <div class="bi-meta">July 02, 2018   |   By Jessica Smith</div>
                        <a href="#" class="readmore">Read More</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-thumb">
                        <img src="~/Content/img/blog-thumb/3.jpg" alt="">
                    </div>
                    <div class="bi-content">
                        <h5>the little black dress just for you</h5>
                        <div class="bi-meta">July 02, 2018   |   By maria deloreen</div>
                        <a href="#" class="readmore">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog section end -->

<script>
    $(document).ready(function () {
        $.ajax(
            {
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/Admin/get_All',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var rs = JSON.parse(response);

                    if (rs.ErrCode == 1) {
                        console.log(rs.Data)
                        const products = rs.Data
                        let displayProducts = products.map(function (item) {
                            return `<div class="mix col-lg-3 col-md-6 best">
                 <div class="product-item">
                     <figure>
                         <img src="${item.URL}" alt="">
                         <div class="pi-meta">
                             <a href="../Product/Product2?p-id=${item.ID}" class="pi-m-left">
                                 <img src="/Content/assets/img/icons/eye.png" alt="">
                                 <p>quick view</p>
                             </a>
                         </div>
                     </figure>
                     <div class="product-info">
                         <h6>${item.NameProduct}</h6>
                         <p>${"$" + item.Price}</p>
                         <div>
                            <a href="~/product/cart" class="site-btn btn-line">ADD TO CART</a>
                         </div>
                     </div>
                 </div>
             </div>`;
                        });
                        displayProducts = displayProducts.join("");
                        console.log(displayProducts);

                        document.getElementById("product-filter").innerHTML = displayProducts;
                    }
                    else {
                        alert(rs.ErrDesc);
                    }
                },
                error: function (response) {
                    alert("Lấy DSSP thất bại");
                }
            }
        );
    })
</script>